@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  margin: 2em;
  background-color: #666666;
  font-family: 'Roboto', sans-serif;
}

h2 {
  color: #ff6666;
  font-size: 50px;
  text-align:center;
}

.container {
  text-align: center;
}

.inputstyle {
  text-align: center;
}

.button {
  flex-direction: row;
  width:20vw;
  background-color: #999999;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 80px;
}

.button2 {
  flex-direction: row;
  width:10vw;
  background-color: #999999;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 80px;
}

.button:hover  {
  color:#EE8200;
}

.button2:hover  {
  color:#EE8200;
}

.input[type=text] {
  width: 20vw;
  height:5vh;
  box-sizing: border-box;
  border: 1px solid red;
  border-radius: 4px;
  font-size: 22px;
  padding: 12px 20px 12px 40px;
}

.input:hover {
 box-shadow: 5px 2px 2px red;
}

p {
 color:#ff6666;
  font-size:30px;
}

@media only screen and (min-width: 1201px) {
.bcontainer2 {
  margin-left: 37vw;
  width: 15vw;
  display: flex;
}

.bcontainer3 {
  margin-left: 37vw;
  width: 15vw;
  display: flex;
}

.bcontainer4 {
  margin-left: 37vw;
  width: 15vw;
  display: flex;
}

.bcontainer5 {
  margin-left: 37vw;
  width: 15vw;
  display: flex;
}
}

@media only screen and (max-width: 1200px) {
  body {
    margin: 0em;
  }

  .inputstyle {
    text-align: center;
    margin-bottom: 10vh;
  }

  input[type=text] {
   width:300px;
  }

  .button {
    flex-direction: row;
    width:25vw;
    background-color: #999999;
    border: none;
    color: white;
    padding: 15px 12vw;
    text-align: center;
    text-decoration: none;
    font-size: 60px;
  }

  .button2 {
    flex-direction: row;
    width:19vw;
    background-color: #999999;
    border: none;
    color: white;
    padding: 15px 10vw;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
  }

  .bcontainer2 {
    width: 25vw;
    display: flex;
  }

  .bcontainer3 {
    width: 25vw;
    display: flex;
  }

  .bcontainer4 {
    width: 25vw;
    display: flex;
  }

  .bcontainer5 {
    width: 20vw;
    display: flex;
  }
}
